body {
	margin: 0px 0px 0px 0px;
	padding: 6px 6px 6px 6px;
	background-color:#E0E0E0;
	border: thin solid black;
	min-height: 51px;
}

div {
	font-family: sans-serif;
}

div.icon {
	float: left;
	top: 10px;
	left: 10px;
	width: 32px;
	height: 32px;
	margin-right: 5px;
}

div.icon img {
	width: 32px;
	height: 32px;
}

div.title {
	font-weight:bold;
	font-size:small;
}

div.text {
	font-size:x-small;
}

body.emergency div.text {
	color: red;
}
