<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>GrowlMail</string>
	<key>CFBundleIconFile</key>
	<string>GrowlMail.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.growl.GrowlMail</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>GROWLMAIL_VERSION</string>
	<key>CFBundleSignature</key>
	<string>emal</string>
	<key>CFBundleVersion</key>
	<string>GROWLMAIL_VERSION</string>
	<key>NSPrincipalClass</key>
	<string>GrowlMail</string>
	<key>SupportedPluginCompatibilityUUIDs</key>
	<array>
		<string>B3F3FC72-315D-4323-BE85-7AB76090224D</string>
		<string>225E0A48-2CDB-44A6-8D99-A9BB8AF6BA04</string>
		<string>99BB3782-6C16-4C6F-B910-25ED1C1CB38B</string>
		<string>2610F061-32C6-4C6B-B90A-7A3102F9B9C8</string>
		<string>2F0CF6F9-35BA-4812-9CB2-155C0FDB9B0F</string>
		<string>0CB5F2A0-A173-4809-86E3-9317261F1745</string>
		<string>B842F7D0-4D81-4DDF-A672-129CA5B32D57</string>
		<string>E71BD599-351A-42C5-9B63-EA5C47F7CE8E</string>
	</array>
</dict>
</plist>
