<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Auto Encode</key>
	<string>FALSE</string>
	<key>Auto Open</key>
	<string>FALSE</string>
	<key>Background Image Path</key>
	<string>../images/dmg/growlSDK.png</string>
	<key>Build Format</key>
	<string>DMG (OS X only)</string>
	<key>Custom Icon Path</key>
	<string></string>
	<key>Disk Image Name</key>
	<string>~/Desktop/Growl-0.7b3-SDK.dmg</string>
	<key>Encode Format</key>
	<string>None</string>
	<key>Encryption Type</key>
	<string>None</string>
	<key>Finalize Format</key>
	<string>Read-only with compression</string>
	<key>Icon Size</key>
	<string>60</string>
	<key>Image Size Extra</key>
	<string>0</string>
	<key>Image Size Type</key>
	<string>Automatic</string>
	<key>Internet Enable</key>
	<string>FALSE</string>
	<key>Item List</key>
	<array>
		<dict>
			<key>Origin</key>
			<string>{183, 46}</string>
			<key>Path</key>
			<string>/Users/ingmar/Desktop/Bindings</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
		<dict>
			<key>Origin</key>
			<string>{290, 46}</string>
			<key>Path</key>
			<string>/Users/ingmar/Desktop/Frameworks</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
		<dict>
			<key>Origin</key>
			<string>{285, 153}</string>
			<key>Path</key>
			<string>Growl version history for developers.webloc</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
		<dict>
			<key>Origin</key>
			<string>{175, 166}</string>
			<key>Path</key>
			<string>Growl Developer Documentation.webloc</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
	</array>
	<key>License List</key>
	<array/>
	<key>Lock Frame</key>
	<string>TRUE</string>
	<key>Project File Path</key>
	<string>/Users/ingmar/Devel/growl/Release/</string>
	<key>Show Toolbar</key>
	<string>TRUE</string>
	<key>Volume Name</key>
	<string>Growl-0.7b3-SDK</string>
	<key>Window Frame</key>
	<string>{{0, 22}, {455, 411}}</string>
</dict>
</plist>
