//
//  Common.xcconfig
//  HardwareGrowler
//
//  Created by Rudy Richter on 10/14/11.
//  Copyright 2011 The Growl Project, LLC. All rights reserved.
//

#include "../../xcconfig/Common.xcconfig"

HWG_VERSION = 2.1b2
COPYRIGHT = Copyright © 2012 The Growl Project, LLC. All rights reserved.
MACOSX_DEPLOYMENT_TARGET = 10.7
