#include "Global-Common.xcconfig"


// deployment
COPY_PHASE_STRIP = YES
DEPLOYMENT_LOCATION = YES
DEPLOYMENT_POSTPROCESSING = YES
DSTROOT = /
STRIP_INSTALLED_PRODUCT = YES


// linking
DEAD_CODE_STRIPPING = YES
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES


// code generation
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_OPTIMIZATION_LEVEL = s


// preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(COMMON_GCC_PREPROCESSOR_DEFINITIONS) NDEBUG


// interface builder compiler
IBC_FLATTEN_NIBS = YES
