// custom
GT_VERSION = 2.0b1


// code signing
CODE_SIGN_ENTITLEMENTS = GrowlTunes/GrowlTunes.entitlements


// linking
MACH_O_TYPE = mh_execute
OTHER_LDFLAGS = -ObjC -all_load


// packaging
APPLY_RULES_IN_COPY_FILES = YES
GENERATE_PKGINFO_FILE = YES
INFOPLIST_EXPAND_BUILD_SETTINGS = YES
INFOPLIST_FILE = GrowlTunes/GrowlTunes-Info.plist
INFOPLIST_OTHER_PREPROCESSOR_FLAGS = -I "$(TARGET_BUILD_DIR)/include" -I "$(SRCROOT)/$(PRODUCT_NAME)"
INFOPLIST_OUTPUT_FORMAT = binary
INFOPLIST_PREFIX_HEADER = GrowlTunes-Info.plist-Prefix.pch
INFOPLIST_PREPROCESS = YES
INFOPLIST_PREPROCESSOR_DEFINITIONS = COMPILED_BY_USER="$(USER)"
PLIST_FILE_OUTPUT_FORMAT = binary
PRIVATE_HEADERS_FOLDER_PATH = $(CONTENTS_FOLDER_PATH)/PrivateHeaders
PRODUCT_NAME = $(TARGET_NAME)
PUBLIC_HEADERS_FOLDER_PATH = $(CONTENTS_FOLDER_PATH)/Headers
STRINGS_FILE_OUTPUT_ENCODING = UTF-16
WRAPPER_EXTENSION = app


// language
GCC_PREFIX_HEADER = GrowlTunes/GrowlTunes-Prefix.pch
GCC_ENABLE_OBJC_GC = unsupported


#include "ARC64-GC32.xcconfig"
