// code signing
CODE_SIGN_ENTITLEMENTS = GrowlTunes/GrowlTunes.entitlements


// linking
MACH_O_TYPE = mh_execute
OTHER_LDFLAGS = -ObjC -all_load


// packaging
INFOPLIST_FILE = GrowlTunes/GrowlTunes-Info.plist
PRODUCT_NAME = $(TARGET_NAME)
WRAPPER_EXTENSION = app


// language
GCC_PREFIX_HEADER = GrowlTunes/GrowlTunes-Prefix.pch
GCC_ENABLE_OBJC_GC = unsupported


#include "ARC64-GC32.xcconfig"
