build
*.swp

*.mode1
*.mode1v3
*.mode2
*.mode2v3
*.pbxuser
*.perspective
*.perspectivev3
xcuserdata
*.xcworkspace

*~.nib

.DS_Store
Icon?

external_dependencies

Release/distribution
DerivedData
project.pbxproj.orig

*.orig

.hg*
