<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Auto Encode</key>
	<string>FALSE</string>
	<key>Auto Open</key>
	<string>FALSE</string>
	<key>Background Image Path</key>
	<string>/Users/chris/source_code/projects/growl/images/dmg/Frameworks.png</string>
	<key>Build Format</key>
	<string>DMG (OS X only)</string>
	<key>Custom Icon Path</key>
	<string></string>
	<key>Disk Image Name</key>
	<string>~/Desktop/Growl-0.6-Frameworks.dmg</string>
	<key>Encode Format</key>
	<string>None</string>
	<key>Encryption Type</key>
	<string>None</string>
	<key>Finalize Format</key>
	<string>Read-only with compression</string>
	<key>Icon Size</key>
	<string>68</string>
	<key>Image Size Extra</key>
	<string>0</string>
	<key>Image Size Type</key>
	<string>Automatic</string>
	<key>Internet Enable</key>
	<string>FALSE</string>
	<key>Item List</key>
	<array>
		<dict>
			<key>Origin</key>
			<string>{269, 25}</string>
			<key>Path</key>
			<string>Growl-Frameworks</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
		<dict>
			<key>Origin</key>
			<string>{268, 149}</string>
			<key>Path</key>
			<string>Framework-Documentation</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
	</array>
	<key>License List</key>
	<array/>
	<key>Lock Frame</key>
	<string>TRUE</string>
	<key>Project File Path</key>
	<string>/Users/chris/Desktop/</string>
	<key>Show Toolbar</key>
	<string>TRUE</string>
	<key>Volume Name</key>
	<string>Growl-0.6-Frameworks</string>
	<key>Window Frame</key>
	<string>{{0, 22}, {455, 411}}</string>
</dict>
</plist>
