<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GrowlDisplayPluginName</key>
	<string>Smoke</string>
	<key>GrowlStartServer</key>
	<false/>
	<key>GrowlEnabled</key>
	<true/>
	<key>GrowlEnableForward</key>
	<false/>
	<key>GrowlLoggingEnabled</key>
	<false/>
	<key>GrowlLogType</key>
	<integer>0</integer>
	<key>GrowlMenuExtra</key>
	<false/>
	<key>IdleThreshold</key>
	<integer>30</integer>
	<key>GrowlSelectedPosition</key>
	<integer>3</integer>
	<key>GrowlHistoryLogEnabled</key>
	<true/>
	<key>GrowlHistoryRetainAllWhileAway</key>
	<true/>
	<key>GrowlHistoryCountLimit</key>
	<integer>1000</integer>
	<key>GrowlHistoryDayLimit</key>
	<integer>7</integer>
	<key>GrowlHistoryTrimByDate</key>
	<true/>
	<key>GrowlHistoryTrimByCount</key>
	<true/>
	<key>GrowlSelectedPrefPane</key>
	<integer>0</integer>
	<key>GrowlSquelchMode</key>
	<false/>
	<key>GrowlAllowStartAtLogin</key>
	<false/>
	<key>GrowlFirstLaunch</key>
	<true/>
</dict>
</plist>
