<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>growlTicket</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Growl-TICKET</string>
			<key>CFBundleTypeName</key>
			<string>Growl Application Ticket</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>growlView</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Growl-VIEW</string>
			<key>CFBundleTypeName</key>
			<string>Growl Display Plugin</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.growl.view</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>GrowlDisplayPlugin</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.growl.view</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>growlStyle</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Growl-STYLE</string>
			<key>CFBundleTypeName</key>
			<string>Growl WebKit Style</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.growl.style</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>GrowlWebKitDisplayPlugin</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.growl.style</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>growlRegDict</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Growl-REGDICT</string>
			<key>CFBundleTypeName</key>
			<string>Growl Registration Dictionary</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Growl</string>
	<key>CFBundleIconFile</key>
	<string>Growl</string>
	<key>CFBundleIdentifier</key>
	<string>com.Growl.GrowlHelperApp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Growl</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>GROWL_VERSION</string>
	<key>CFBundleSignature</key>
	<string>GRRR</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>GROWL_VERSION</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>GrowlApplication</string>
	<key>NSServices</key>
	<array/>
	<key>OSAScriptingDefinition</key>
	<string>Growl.sdef</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.item</string>
				<string>public.composite-content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Growl Display Plugin</string>
			<key>UTTypeIconFile</key>
			<string>Growl-DISPLAY</string>
			<key>UTTypeIdentifier</key>
			<string>com.growl.view</string>
			<key>UTTypeReferenceURL</key>
			<string>http://growl.info</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>DISP</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>growlView</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.item</string>
				<string>public.composite-content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Growl WebKit Style</string>
			<key>UTTypeIconFile</key>
			<string>Growl-WKMV</string>
			<key>UTTypeIdentifier</key>
			<string>com.growl.style</string>
			<key>UTTypeReferenceURL</key>
			<string>http://growl.info</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>growlStyle</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
