<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Auto Encode</key>
	<string>FALSE</string>
	<key>Auto Open</key>
	<string>FALSE</string>
	<key>Background Image Path</key>
	<string>%releasedir%/../images/dmg/growl07DMGBackground.png</string>
	<key>Build Format</key>
	<string>DMG (OS X only)</string>
	<key>Custom Icon Path</key>
	<string></string>
	<key>Disk Image Name</key>
	<string>%builddir%/%releasename%.dmg</string>
	<key>Encode Format</key>
	<string>None</string>
	<key>Encryption Type</key>
	<string>None</string>
	<key>Finalize Format</key>
	<string>Read-only with compression</string>
	<key>Icon Size</key>
	<string>56</string>
	<key>Image Size Extra</key>
	<string>0</string>
	<key>Image Size Type</key>
	<string>Automatic</string>
	<key>Internet Enable</key>
	<string>FALSE</string>
	<key>Item List</key>
	<array>
		<dict>
			<key>Origin</key>
			<string>{82, 5}</string>
			<key>Path</key>
			<string>%builddir%/Extras</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
		<dict>
			<key>Origin</key>
			<string>{-44, 125}</string>
			<key>Path</key>
			<string>%builddir%/Scripts</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
		<dict>
			<key>Origin</key>
			<string>{-35, 13}</string>
			<key>Path</key>
			<string>%builddir%/Growl.prefPane</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
		<dict>
			<key>Origin</key>
			<string>{48, 95}</string>
			<key>Path</key>
			<string>%releasedir%/Growl Documentation.webloc</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
		<dict>
			<key>Origin</key>
			<string>{185, 13}</string>
			<key>Path</key>
			<string>%releasedir%/Growl version history.webloc</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
		<dict>
			<key>Origin</key>
			<string>{311, 13}</string>
			<key>Path</key>
			<string>%releasedir%/Uninstall Growl.app</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
	</array>
	<key>License List</key>
	<array/>
	<key>Lock Frame</key>
	<string>TRUE</string>
	<key>Project File Path</key>
	<string>%releasedir%/</string>
	<key>Show Toolbar</key>
	<string>TRUE</string>
	<key>Volume Name</key>
	<string>%releasename%</string>
	<key>Window Frame</key>
	<string>{{30, 30}, {452, 416}}</string>
</dict>
</plist>
