<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>GrowlTwilio</string>
	<key>CFBundleIdentifier</key>
	<string>info.Growl.Twilio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Twilio</string>
	<key>CFBundleShortVersionString</key>
	<string>GROWL_VERSION</string>
	<key>CFBundleVersion</key>
	<string>GROWL_VERSION</string>
	<key>CFBundlePackageType</key>
	<string>DISP</string>
	<key>CFBundleSignature</key>
	<string>GRRR</string>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 Zac Bowling. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>GrowlPluginAuthor</key>
	<string>Zac Bowling</string>
	<key>GrowlPluginDescription</key>
	<string>Send notifications to Twilio</string>
</dict>
</plist>
