body {
	padding: 0;
	margin: 1px;
	max-width: 300px;
	min-height: 54px;
}
#background {
	background: #ffc;
}
#bg1, #bg2, #bg3, #bg4, #bg5, #bg6, #bg7, #bg8 {
	position: absolute; width: 100%; height: 100%;
}
	
#bg1 { background: url(img/t.gif) repeat-x top left; left: -1px; top: -1px; }
#bg2 { background: url(img/r.gif) repeat-y top right; }
#bg3 { background: url(img/b.gif) repeat-x bottom right; }
#bg4 { background: url(img/l.gif) repeat-y bottom left; top: -1px; left: -1px;}

#bg5 { background: url(img/tl.gif) no-repeat top left; left: -1px; top: -1px; }
#bg6 { background: url(img/tr.gif) no-repeat top right; right: 0; top: -1px; }
#bg7 { background: url(img/br.gif) no-repeat bottom right; }
#bg8 { background: url(img/bl.gif) no-repeat bottom left; left: -1px; bottom: 0; min-height: 48px; }

#icon {
	position: absolute;
	height: 32px;
	width: 32px;
	left: 20px;
	top: 10px;
	/* background: red; */
}
#icon img {
	width: 32px;
	height: 32px;
}
#title {
	padding-left: 59px;
	padding-top: 12px;
	padding-right: 11px;
	font: 10px geneva;
	font-weight: bold;
}
#text {
	padding-left: 59px;
	padding-top: 4px;
	padding-right: 11px;
	padding-bottom: 11px;
	font: 10px geneva;
}
