//Automatically extracted from the Release configuration of the Growl Xcode project using xcconfig-extract revision 12f44ab4aa70.
//If you want to change one of these settings, please delete it from this section and add it with the new value in the section below.
INFOPLIST_OTHER_PREPROCESSOR_FLAGS = -traditional -CC
GCC_WARN_SIGN_COMPARE = YES
GCC_ENABLE_FIX_AND_CONTINUE = NO
SDKROOT = macosx10.5
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
WARNING_CFLAGS = -W -Wall -Wpointer-arith -Wformat=2 -Wfloat-equal
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
ALWAYS_SEARCH_USER_PATHS = NO
INFOPLIST_PREPROCESS = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
DEAD_CODE_STRIPPING = YES
GCC_WARN_ABOUT_RETURN_TYPE = NO
INFOPLIST_PREFIX_HEADER = Info.plist-Prefix.pch
GCC_WARN_UNUSED_VALUE = YES
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_WARN_UNUSED_PARAMETER = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_ENABLE_OBJC_GC = supported
GCC_WARN_UNINITIALIZED_AUTOS = YES
VALID_ARCHS = i386 ppc ppc7400 ppc970 x86_64
STRIP_STYLE = debugging
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_DEBUGGING_SYMBOLS = full
ARCHS = $(ARCHS_STANDARD_32_64_BIT)
MACOSX_DEPLOYMENT_TARGET = 10.5
ZERO_LINK = NO
GCC_WARN_UNUSED_LABEL = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_VERSION = 4.0
SEPARATE_STRIP = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
STRIP_INSTALLED_PRODUCT = YES
COPY_PHASE_STRIP = NO
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
OTHER_CFLAGS[arch=i386] = -fsingle-precision-constant
GCC_WARN_SHADOW = YES
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_WARN_UNUSED_FUNCTION = YES
DEPLOYMENT_POSTPROCESSING = YES
OTHER_CFLAGS[arch=ppc] = -fsingle-precision-constant
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO

//Localization-specific build settings.
IBC_STRIP_NIBS = NO
IBC_FLATTEN_NIBS = NO
