* {
	font-family: Lucida Grande;
	text-shadow: 0px 1px 2px black;
	font-size: 11px;
	clear: both;
	text-overflow: ellipsis;
	overflow: hidden;
}

table {
	display: block;
	border: 1px solid rgba(0,0,0,0.85);
	border-radius: 9px;
	-webkit-box-shadow: 0px 1px rgba(255,255,255,0.15) inset;
	background-image: -webkit-linear-gradient(top,
							rgba(59,59,59,0.971) 1px,
							rgba(40,40,40,0.971) 22px,
							rgba(24,24,24,0.971) 23px,
							rgba(13,13,13,0.971));
	background-repeat: no-repeat;

	margin: 4px;
	max-width: 300px;
	table-layout: fixed;
	border-spacing: 0px;
	padding: 5px;
	padding-bottom: 3px;
	padding-right: 2px;
}

table.high {
	background-image: -webkit-linear-gradient(top,
							rgba(98,92,80,0.9),
							rgba(55,49,37,0.9) 18px,
							rgba(48,42,30,0.9) 19px,
							rgba(23,17,10,0.9));

	-webkit-box-shadow: 0px 0px 3px 0px rgba(255,160,0,0.75),
						0px 1px rgba(255,255,255,0.3) inset;

	border: 1px solid rgba(10,7,0,0.25);
}

table.emergency {						
	background-image: -webkit-linear-gradient(top,
							rgba(100,85,85,0.9),
							rgba(57,42,42,0.9) 18px,
							rgba(50,35,35,0.9) 19px,
							rgba(25,10,10,0.9));

	-webkit-box-shadow: 0px 0px 5px 1px rgba(255,0,0,0.75),
						0px 1px rgba(255,255,255,0.3) inset;

	border: 1px solid rgba(10,0,0,0.25);
}

img#icon {
	height: 32px;
	min-width: 32px;
	margin: 0px;
	margin-right: 5px;
	border-radius: 2px;
}

#title {
	font-weight: bold;
	color: rgba(255,255,255,0.875);
	margin-bottom: 1px;
	padding-right: 4px;
	margin-top: 0px;
	font-size: 12px;
}

#title.high {
	color: rgba(255,255,200,0.9);
}

#title.emergency {
	color: rgba(255,215,215,0.9);
	text-decoration: underline;
}

#description {
	color: rgba(255,255,255,0.721);
	margin-bottom: 2px;
	max-height: 196px;
	overflow: hidden;
	padding-right: 4px;
	word-wrap: break-word;
}

#description.high {
	color: rgba(255,255,200,0.75);
}

#description.emergency {
	color: rgba(255,215,215,0.75);
}