<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>format</key>
	<dict>
		<key>movie</key>
		<dict>
			<key>line3</key>
			<array/>
			<key>title</key>
			<array>
				<string>[name]</string>
				<string>[time]</string>
			</array>
			<key>line2</key>
			<array/>
			<key>line1</key>
			<array>
				<string>[bestDescription]</string>
			</array>
		</dict>
		<key>musicVideo</key>
		<dict>
			<key>line3</key>
			<array/>
			<key>title</key>
			<array>
				<string>[name]</string>
				<string>[time]</string>
			</array>
			<key>line2</key>
			<array>
				<string>[album]</string>
			</array>
			<key>line1</key>
			<array>
				<string>[bestArtist]</string>
			</array>
		</dict>
		<key>podcast</key>
		<dict>
			<key>line3</key>
			<array/>
			<key>title</key>
			<array>
				<string>[name]</string>
				<string>[time]</string>
			</array>
			<key>line2</key>
			<array>
				<string>[bestDescription]</string>
			</array>
			<key>line1</key>
			<array>
				<string>[album]</string>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>line3</key>
			<array/>
			<key>title</key>
			<array>
				<string>[name]</string>
				<string>[time]</string>
			</array>
			<key>line2</key>
			<array>
				<string>[bestDescription]</string>
			</array>
			<key>line1</key>
			<array>
				<string>[show]</string>
			</array>
		</dict>
		<key>stream</key>
		<dict>
			<key>line3</key>
			<array/>
			<key>title</key>
			<array>
				<string>[streamTitle]</string>
			</array>
			<key>line2</key>
			<array>
				<string>[comment]</string>
			</array>
			<key>line1</key>
			<array>
				<string>[name]</string>
			</array>
		</dict>
		<key>music</key>
		<dict>
			<key>line3</key>
			<array/>
			<key>title</key>
			<array>
				<string>[name]</string>
				<string>[time]</string>
			</array>
			<key>line2</key>
			<array>
				<string>[album]</string>
			</array>
			<key>line1</key>
			<array>
				<string>[bestArtist]</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
