<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>format</key>
	<dict>
		<key>movie</key>
		<dict>
			<key>title</key>
			<data>YnBsaXN0MDDUAQIDBAUGIiNYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKgHCA8TFBseH1UkbnVsbNIJCgsMViRjbGFzc1pOUy5vYmplY3RzgAeiDQ6AAoAF0hAJERJdZWRpdGluZ1N0cmluZ4ADgARWW25hbWVd0hUWFxhaJGNsYXNzbmFtZVgkY2xhc3Nlc18QD0Zvcm1hdHRpbmdUb2tlbqIZGl8QD0Zvcm1hdHRpbmdUb2tlblhOU09iamVjdNIQCRwSgAaABFZbdGltZV3SFRYgIVdOU0FycmF5oiAaXxAPTlNLZXllZEFyY2hpdmVy0SQlVHJvb3SAAQAIABEAGgAjAC0AMgA3AEAARgBLAFIAXQBfAGIAZABmAGsAeQB7AH0AhACJAJQAnQCvALIAxADNANIA1ADWAN0A4gDqAO0A/wECAQcAAAAAAAACAQAAAAAAAAAmAAAAAAAAAAAAAAAAAAABCQ==</data>
			<key>line1</key>
			<data>YnBsaXN0MDDUAQIDBAUGHR5YJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKYHCA4SExpVJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4AFoQ2AAtIPCRARXWVkaXRpbmdTdHJpbmeAA4AEXxARW2Jlc3REZXNjcmlwdGlvbl3SFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzXxAPRm9ybWF0dGluZ1Rva2VuohgZXxAPRm9ybWF0dGluZ1Rva2VuWE5TT2JqZWN00hQVGxxXTlNBcnJheaIbGV8QD05TS2V5ZWRBcmNoaXZlctEfIFRyb290gAEACAARABoAIwAtADIANwA+AEQASQBQAFsAXQBfAGEAZgB0AHYAeACMAJEAnAClALcAugDMANUA2gDiAOUA9wD6AP8AAAAAAAACAQAAAAAAAAAhAAAAAAAAAAAAAAAAAAABAQ==</data>
			<key>line2</key>
			<data>YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKMHCA1VJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4ACoNIODxARWiRjbGFzc25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjEBITV05TQXJyYXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFhdSJDCAAQgRGiMtMjc7QUZNWFpbYGt0g4ePmKqtsAAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAACy</data>
			<key>line3</key>
			<data>YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKMHCA1VJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4ACoNIODxARWiRjbGFzc25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjEBITV05TQXJyYXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFhdSJDCAAQgRGiMtMjc7QUZNWFpbYGt0g4ePmKqtsAAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAACy</data>
		</dict>
		<key>musicVideo</key>
		<dict>
			<key>title</key>
			<data>YnBsaXN0MDDUAQIDBAUGIiNYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKgHCA8TFBseH1UkbnVsbNIJCgsMViRjbGFzc1pOUy5vYmplY3RzgAeiDQ6AAoAF0hAJERJdZWRpdGluZ1N0cmluZ4ADgARWW25hbWVd0hUWFxhaJGNsYXNzbmFtZVgkY2xhc3Nlc18QD0Zvcm1hdHRpbmdUb2tlbqIZGl8QD0Zvcm1hdHRpbmdUb2tlblhOU09iamVjdNIQCRwSgAaABFZbdGltZV3SFRYgIVdOU0FycmF5oiAaXxAPTlNLZXllZEFyY2hpdmVy0SQlVHJvb3SAAQAIABEAGgAjAC0AMgA3AEAARgBLAFIAXQBfAGIAZABmAGsAeQB7AH0AhACJAJQAnQCvALIAxADNANIA1ADWAN0A4gDqAO0A/wECAQcAAAAAAAACAQAAAAAAAAAmAAAAAAAAAAAAAAAAAAABCQ==</data>
			<key>line1</key>
			<data>YnBsaXN0MDDUAQIDBAUGHR5YJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKYHCA4SExpVJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4AFoQ2AAtIPCRARXWVkaXRpbmdTdHJpbmeAA4AEXFtiZXN0QXJ0aXN0XdIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNfEA9Gb3JtYXR0aW5nVG9rZW6iGBlfEA9Gb3JtYXR0aW5nVG9rZW5YTlNPYmplY3TSFBUbHFdOU0FycmF5ohsZXxAPTlNLZXllZEFyY2hpdmVy0R8gVHJvb3SAAQgRGiMtMjc+RElQW11fYWZ0dniFipWesLPFztPb3vDz+AAAAAAAAAEBAAAAAAAAACEAAAAAAAAAAAAAAAAAAAD6</data>
			<key>line2</key>
			<data>YnBsaXN0MDDUAQIDBAUGHR5YJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKYHCA4SExpVJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4AFoQ2AAtIPCRARXWVkaXRpbmdTdHJpbmeAA4AEV1thbGJ1bV3SFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzXxAPRm9ybWF0dGluZ1Rva2VuohgZXxAPRm9ybWF0dGluZ1Rva2VuWE5TT2JqZWN00hQVGxxXTlNBcnJheaIbGV8QD05TS2V5ZWRBcmNoaXZlctEfIFRyb290gAEIERojLTI3PkRJUFtdX2FmdHZ4gIWQmauuwMnO1tnr7vMAAAAAAAABAQAAAAAAAAAhAAAAAAAAAAAAAAAAAAAA9Q==</data>
			<key>line3</key>
			<data>YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKMHCA1VJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4ACoNIODxARWiRjbGFzc25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjEBITV05TQXJyYXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFhdSJDCAAQgRGiMtMjc7QUZNWFpbYGt0g4ePmKqtsAAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAACy</data>
		</dict>
		<key>podcast</key>
		<dict>
			<key>title</key>
			<data>YnBsaXN0MDDUAQIDBAUGIiNYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKgHCA8TFBseH1UkbnVsbNIJCgsMViRjbGFzc1pOUy5vYmplY3RzgAeiDQ6AAoAF0hAJERJdZWRpdGluZ1N0cmluZ4ADgARWW25hbWVd0hUWFxhaJGNsYXNzbmFtZVgkY2xhc3Nlc18QD0Zvcm1hdHRpbmdUb2tlbqIZGl8QD0Zvcm1hdHRpbmdUb2tlblhOU09iamVjdNIQCRwSgAaABFZbdGltZV3SFRYgIVdOU0FycmF5oiAaXxAPTlNLZXllZEFyY2hpdmVy0SQlVHJvb3SAAQAIABEAGgAjAC0AMgA3AEAARgBLAFIAXQBfAGIAZABmAGsAeQB7AH0AhACJAJQAnQCvALIAxADNANIA1ADWAN0A4gDqAO0A/wECAQcAAAAAAAACAQAAAAAAAAAmAAAAAAAAAAAAAAAAAAABCQ==</data>
			<key>line1</key>
			<data>YnBsaXN0MDDUAQIDBAUGHR5YJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKYHCA4SExpVJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4AFoQ2AAtIPCRARXWVkaXRpbmdTdHJpbmeAA4AEV1thbGJ1bV3SFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzXxAPRm9ybWF0dGluZ1Rva2VuohgZXxAPRm9ybWF0dGluZ1Rva2VuWE5TT2JqZWN00hQVGxxXTlNBcnJheaIbGV8QD05TS2V5ZWRBcmNoaXZlctEfIFRyb290gAEIERojLTI3PkRJUFtdX2FmdHZ4gIWQmauuwMnO1tnr7vMAAAAAAAABAQAAAAAAAAAhAAAAAAAAAAAAAAAAAAAA9Q==</data>
			<key>line2</key>
			<data>YnBsaXN0MDDUAQIDBAUGHR5YJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKYHCA4SExpVJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4AFoQ2AAtIPCRARXWVkaXRpbmdTdHJpbmeAA4AEXxARW2Jlc3REZXNjcmlwdGlvbl3SFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzXxAPRm9ybWF0dGluZ1Rva2VuohgZXxAPRm9ybWF0dGluZ1Rva2VuWE5TT2JqZWN00hQVGxxXTlNBcnJheaIbGV8QD05TS2V5ZWRBcmNoaXZlctEfIFRyb290gAEACAARABoAIwAtADIANwA+AEQASQBQAFsAXQBfAGEAZgB0AHYAeACMAJEAnAClALcAugDMANUA2gDiAOUA9wD6AP8AAAAAAAACAQAAAAAAAAAhAAAAAAAAAAAAAAAAAAABAQ==</data>
			<key>line3</key>
			<data>YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKMHCA1VJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4ACoNIODxARWiRjbGFzc25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjEBITV05TQXJyYXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFhdSJDCAAQgRGiMtMjc7QUZNWFpbYGt0g4ePmKqtsAAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAACy</data>
		</dict>
		<key>show</key>
		<dict>
			<key>title</key>
			<data>YnBsaXN0MDDUAQIDBAUGIiNYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKgHCA8TFBseH1UkbnVsbNIJCgsMViRjbGFzc1pOUy5vYmplY3RzgAeiDQ6AAoAF0hAJERJdZWRpdGluZ1N0cmluZ4ADgARWW25hbWVd0hUWFxhaJGNsYXNzbmFtZVgkY2xhc3Nlc18QD0Zvcm1hdHRpbmdUb2tlbqIZGl8QD0Zvcm1hdHRpbmdUb2tlblhOU09iamVjdNIQCRwSgAaABFZbdGltZV3SFRYgIVdOU0FycmF5oiAaXxAPTlNLZXllZEFyY2hpdmVy0SQlVHJvb3SAAQAIABEAGgAjAC0AMgA3AEAARgBLAFIAXQBfAGIAZABmAGsAeQB7AH0AhACJAJQAnQCvALIAxADNANIA1ADWAN0A4gDqAO0A/wECAQcAAAAAAAACAQAAAAAAAAAmAAAAAAAAAAAAAAAAAAABCQ==</data>
			<key>line1</key>
			<data>YnBsaXN0MDDUAQIDBAUGHR5YJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKYHCA4SExpVJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4AFoQ2AAtIPCRARXWVkaXRpbmdTdHJpbmeAA4AEVltzaG93XdIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNfEA9Gb3JtYXR0aW5nVG9rZW6iGBlfEA9Gb3JtYXR0aW5nVG9rZW5YTlNPYmplY3TSFBUbHFdOU0FycmF5ohsZXxAPTlNLZXllZEFyY2hpdmVy0R8gVHJvb3SAAQgRGiMtMjc+RElQW11fYWZ0dnh/hI+Yqq2/yM3V2Ort8gAAAAAAAAEBAAAAAAAAACEAAAAAAAAAAAAAAAAAAAD0</data>
			<key>line2</key>
			<data>YnBsaXN0MDDUAQIDBAUGHR5YJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKYHCA4SExpVJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4AFoQ2AAtIPCRARXWVkaXRpbmdTdHJpbmeAA4AEXxARW2Jlc3REZXNjcmlwdGlvbl3SFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzXxAPRm9ybWF0dGluZ1Rva2VuohgZXxAPRm9ybWF0dGluZ1Rva2VuWE5TT2JqZWN00hQVGxxXTlNBcnJheaIbGV8QD05TS2V5ZWRBcmNoaXZlctEfIFRyb290gAEACAARABoAIwAtADIANwA+AEQASQBQAFsAXQBfAGEAZgB0AHYAeACMAJEAnAClALcAugDMANUA2gDiAOUA9wD6AP8AAAAAAAACAQAAAAAAAAAhAAAAAAAAAAAAAAAAAAABAQ==</data>
			<key>line3</key>
			<data>YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKMHCA1VJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4ACoNIODxARWiRjbGFzc25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjEBITV05TQXJyYXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFhdSJDCAAQgRGiMtMjc7QUZNWFpbYGt0g4ePmKqtsAAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAACy</data>
		</dict>
		<key>stream</key>
		<dict>
			<key>title</key>
			<data>YnBsaXN0MDDUAQIDBAUGHR5YJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKYHCA4SExpVJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4AFoQ2AAtIPCRARXWVkaXRpbmdTdHJpbmeAA4AEXVtzdHJlYW1UaXRsZV3SFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzXxAPRm9ybWF0dGluZ1Rva2VuohgZXxAPRm9ybWF0dGluZ1Rva2VuWE5TT2JqZWN00hQVGxxXTlNBcnJheaIbGV8QD05TS2V5ZWRBcmNoaXZlctEfIFRyb290gAEIERojLTI3PkRJUFtdX2FmdHZ4houWn7G0xs/U3N/x9PkAAAAAAAABAQAAAAAAAAAhAAAAAAAAAAAAAAAAAAAA+w==</data>
			<key>line1</key>
			<data>YnBsaXN0MDDUAQIDBAUGHR5YJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKYHCA4SExpVJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4AFoQ2AAtIPCRARXWVkaXRpbmdTdHJpbmeAA4AEVltuYW1lXdIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNfEA9Gb3JtYXR0aW5nVG9rZW6iGBlfEA9Gb3JtYXR0aW5nVG9rZW5YTlNPYmplY3TSFBUbHFdOU0FycmF5ohsZXxAPTlNLZXllZEFyY2hpdmVy0R8gVHJvb3SAAQgRGiMtMjc+RElQW11fYWZ0dnh/hI+Yqq2/yM3V2Ort8gAAAAAAAAEBAAAAAAAAACEAAAAAAAAAAAAAAAAAAAD0</data>
			<key>line2</key>
			<data>YnBsaXN0MDDUAQIDBAUGHR5YJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKYHCA4SExpVJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4AFoQ2AAtIPCRARXWVkaXRpbmdTdHJpbmeAA4AEWVtjb21tZW50XdIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNfEA9Gb3JtYXR0aW5nVG9rZW6iGBlfEA9Gb3JtYXR0aW5nVG9rZW5YTlNPYmplY3TSFBUbHFdOU0FycmF5ohsZXxAPTlNLZXllZEFyY2hpdmVy0R8gVHJvb3SAAQgRGiMtMjc+RElQW11fYWZ0dniCh5KbrbDCy9DY2+3w9QAAAAAAAAEBAAAAAAAAACEAAAAAAAAAAAAAAAAAAAD3</data>
			<key>line3</key>
			<data>YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKMHCA1VJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4ACoNIODxARWiRjbGFzc25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjEBITV05TQXJyYXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFhdSJDCAAQgRGiMtMjc7QUZNWFpbYGt0g4ePmKqtsAAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAACy</data>
		</dict>
		<key>music</key>
		<dict>
			<key>title</key>
			<data>YnBsaXN0MDDUAQIDBAUGIiNYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKgHCA8TFBseH1UkbnVsbNIJCgsMViRjbGFzc1pOUy5vYmplY3RzgAeiDQ6AAoAF0hAJERJdZWRpdGluZ1N0cmluZ4ADgARWW25hbWVd0hUWFxhaJGNsYXNzbmFtZVgkY2xhc3Nlc18QD0Zvcm1hdHRpbmdUb2tlbqIZGl8QD0Zvcm1hdHRpbmdUb2tlblhOU09iamVjdNIQCRwSgAaABFZbdGltZV3SFRYgIVdOU0FycmF5oiAaXxAPTlNLZXllZEFyY2hpdmVy0SQlVHJvb3SAAQAIABEAGgAjAC0AMgA3AEAARgBLAFIAXQBfAGIAZABmAGsAeQB7AH0AhACJAJQAnQCvALIAxADNANIA1ADWAN0A4gDqAO0A/wECAQcAAAAAAAACAQAAAAAAAAAmAAAAAAAAAAAAAAAAAAABCQ==</data>
			<key>line1</key>
			<data>YnBsaXN0MDDUAQIDBAUGHR5YJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKYHCA4SExpVJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4AFoQ2AAtIPCRARXWVkaXRpbmdTdHJpbmeAA4AEXFtiZXN0QXJ0aXN0XdIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNfEA9Gb3JtYXR0aW5nVG9rZW6iGBlfEA9Gb3JtYXR0aW5nVG9rZW5YTlNPYmplY3TSFBUbHFdOU0FycmF5ohsZXxAPTlNLZXllZEFyY2hpdmVy0R8gVHJvb3SAAQgRGiMtMjc+RElQW11fYWZ0dniFipWesLPFztPb3vDz+AAAAAAAAAEBAAAAAAAAACEAAAAAAAAAAAAAAAAAAAD6</data>
			<key>line2</key>
			<data>YnBsaXN0MDDUAQIDBAUGHR5YJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKYHCA4SExpVJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4AFoQ2AAtIPCRARXWVkaXRpbmdTdHJpbmeAA4AEV1thbGJ1bV3SFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzXxAPRm9ybWF0dGluZ1Rva2VuohgZXxAPRm9ybWF0dGluZ1Rva2VuWE5TT2JqZWN00hQVGxxXTlNBcnJheaIbGV8QD05TS2V5ZWRBcmNoaXZlctEfIFRyb290gAEIERojLTI3PkRJUFtdX2FmdHZ4gIWQmauuwMnO1tnr7vMAAAAAAAABAQAAAAAAAAAhAAAAAAAAAAAAAAAAAAAA9Q==</data>
			<key>line3</key>
			<data>YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGGoKMHCA1VJG51bGzSCQoLDFYkY2xhc3NaTlMub2JqZWN0c4ACoNIODxARWiRjbGFzc25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjEBITV05TQXJyYXlYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFhdSJDCAAQgRGiMtMjc7QUZNWFpbYGt0g4ePmKqtsAAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAACy</data>
		</dict>
	</dict>
	<key>enableFormattingConfiguration</key>
	<true/>
</dict>
</plist>
