<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>${MAC_OS_X_PRODUCT_BUILD_VERSION}</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>GrowlTunes.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.growl.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${GT_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>RAWR</string>
	<key>CFBundleVersion</key>
	<string>${GT_VERSION}</string>
	<key>CompiledAt</key>
	<string>COMPILED_AT</string>
	<key>CompiledByUser</key>
	<string>COMPILED_BY_USER</string>
	<key>CompiledOn</key>
	<string>COMPILED_ON</string>
	<key>CompilerVersion</key>
	<string>COMPILER_VERSION</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011-2013 The Growl Project. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>GrowlTunes</string>
	<key>NSPrincipalClass</key>
	<string>GrowlTunesController</string>
</dict>
</plist>
