<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	
	<key>CFBundleExecutable</key>
	<string>Feed</string>
	
	<key>CFBundleIconFile</key>
	<string>FeedIcon.icns</string>
	
	<key>CFBundleIdentifier</key>
	<string>net.keeto.feed</string>
	
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	
	<key>CFBundleSignature</key>
	<string>KETO</string>
	
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	
	<key>NSAppleScriptEnabled</key>
	<string>NO</string>
	
	<key>CFBundleDocumentTypes</key>
	<array/>
	
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>feed</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>feed</string>
			</array>
		</dict>
	</array>
	
</dict>
</plist>
