body {
    height: 100%;
    background: transparent repeat-y top center;
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 0;
    font-size: 12px;
    width: 100%;
    text-shadow: none;
    font-family: "Lucida Grande", sans-serif;
    position: absolute;
    opacity: %opacity%;
}
#top {
    height: 17px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    z-index: 0;
}
#bottom {
    width: 100%;
    height: 13px;
    position: absolute;
    bottom: 0;
    z-index: 0;
}
#middle {
    position: absolute;
    z-index: -5;
    top: 0;
    bottom: 0;
    overflow: hidden;
    line-height: 0;
}
#title {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 17px;
    text-align: center;
    padding-top: 4px;
    font-size: 12px;
}
#description {
    position: absolute;
    top: 17px;
    left: 10px;
    right: 17px;
    bottom: 4px;
    font-size: 10px;
}